body {
    font-family: Exo, sans-serif;
}

.navbar {
    background-color:darkseagreen;
    font-weight: 600;
}

.navbar-brand {
    font-size: 2em;
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: darkseagreen;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-kits .nav-link.active:hover {
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-a-papelaria, #kits {
    background-color: rgba(143, 188, 143, 0.27);
}

.carousel-item img {
    height: 70vh;
}

.text-colored {
    color: darkseagreen;
}

.container-sobre img {
    margin-bottom: 1vh;
}

.nav-kits .nav-link.active, #contato button {
    background-color: darkseagreen;
    color: white;
}

.nav-kits .nav-link:hover {
    color: darkseagreen;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 40vh;
    }
}