$font-family: 'Roboto', sans-serif;
$primary-color: #182C61;
$background-color: #f5f6fa;
$text-color: #fff;
$button-background: #44bd32;
$button-hover-background: #4cd137;
$container-max-width: 1024px;
$container-max-width-mobile: 80%;
